{% extends 'base.html.twig' %}

{% block title %}TriCount{% endblock %}

{% block body %}
    <h1 class="titre">Liste des ardoises</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>

        {% for a in ardoises %}
        <tr style="border: 2px solid black">
            <td style="background-color: cornflowerblue">{{ a.nom }}</td>
            <td>{{ a.description }}</td>
            <td>
                <a class="btn btn-sm btn-warning" href="{{ path("ardoises_depenses",{"id":a.id}) }}">Accéder à l'ardoise</a>
                <a class="btn btn-sm btn-primary" href="{{ path("ardoises_modifier",{"id":a.id}) }}">Modifier</a>
                <a class="btn btn-sm btn-danger" href="{{ path("ardoises_supprimer",{"id":a.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{ path("ardoises_ajouter") }}" style="margin-left: auto; margin-right: auto">Créer une ardoise</a>

    <style>
        .titre{
            display: flex;
            justify-content: center;
            border: 2px solid black;
            font-family: 'Itim', cursive;
        }
    </style>
{% endblock %}
