{% extends "base.html.twig" %}

{% block body %}
    <h1>Modifier une ardoise</h1>
    <div class="contHead">
        <div class="card-header">
            Ajouter un participant
        </div>
      <div class="formulaire">
          {{ form(formulaire) }}
      </div>
    </div>
        <div class="contCard">
    {% for a in result %}
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ a.participant.nom }}</h5>
            <a class="btn btn-sm btn-primary" href="{{ path("ardoises_transac",{"idJoin":a.id}) }}">Ajouter une dépense</a>
        </div>
        </div>
    {% endfor %}
        </div>
    <div class="contList">
    <ul class="list-group">
        <li class="list-group-item active">Liste des dépenses :</li>
    {% for i in ree %}
        <li class="list-group-item">{{ i.assoc.participant.nom }} a depensé {{ i.valeur }}€ [{{ i.description }}]</li>
    </ul>
    {%  endfor %}
    </div>
    <style>
        .contHead{
            display: flex;
            flex-flow: column;
            width: 20%;
            margin: 10px;
            border: 2px solid black;
        }
        .contCard{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            border: 2px solid black;
        }
        .contList{
            display: flex;
            margin: 10px;
            border: 2px solid gray;
            flex-flow: column;
        }
        .card{
            border: 3px solid dodgerblue ;
            margin: 5px;
        }
    </style>
{% endblock %}
