{% extends "base.html.twig" %}

{% block body %}
    <div class="titre">
        <h1>MODIFIER UNE ARDOISE</h1>
    </div>
    <div class="contHead">
        <div class="card-header">
            Créer un participant :
        </div>
        <div class="formulaire">
            {{ form(formulaire) }}
        </div>
    </div>

    <div class="contHead2">
        <div class="titreListe">
            Liste des participants :
        </div>
    </div>
    <div class="contCard">
        {% for a in joinArdoise %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ a.participant.nom }}</h5>
                    <a class="btn btn-sm btn-primary" href="{{ path("ardoises_transac",{"idJoin":a.id},) }}">Ajouter une
                        dépense</a>
                    <a class="btn btn-sm btn-danger"
                       href="{{ path("participant_supprimer",{"idPart":a.participant.id,"idArd":a.ardoise.id}) }}"><i
                                class="fas fa-user-slash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="contList">
        <div class="alert alert-warning" role="alert" style="width: auto">
            Total des dépenses de l'ardoise :
            <div style="color: red">{{ sommeArdoise }}€</div>
        </div>
        <div style="padding-top: 50px">
            <div class="alert alert-danger" role="alert" style="width: auto">
                {% for excedentaire in participants['excedentaire'] %}
                    {{ excedentaire['nom'] }} doit recevoir {{ excedentaire['diff']|round(2,'floor') }}€ de la part :<br>
                    {% for deficitaire in participants['deficitaire'] %}
                        de {{ deficitaire['nom'] }}  (au total {{ deficitaire['nom'] }} doit : {{ deficitaire['diff']|round(2,'floor') }}€)<br>
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item active">Liste des dépenses :</li>
            {% for t in transaction %}
            {% if t.description is not null %}
            <li class="list-group-item">{{ t.association.participant.nom }} a dépensé {{ t.valeur }}€
                [{{ t.description }}]
                {% else %}
            <li class="list-group-item">{{ t.association.participant.nom }} a dépensé {{ t.valeur }}€ [Aucune
                description]
                {% endif %}
                <a class="btn btn-sm btn-danger" href="{{ path("transaction_supprimer",{"idTransac":t.id}) }}">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="btn btn-sm btn-warning" href="{{ path("transaction_modifier",{"idTransac":t.id}) }}">
                    <i class="fas fa-pen"></i>
                </a>
            </li>
        </ul>
        {% endfor %}

    </div>
    <style>
        .titre {
            display: flex;
            justify-content: center;
            color: antiquewhite;
            padding: 15px;
        }

        .contHead {
            display: flex;
            flex-flow: column;
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            border: 2px solid dodgerblue;
            border-radius: 7% 7%;
            color: antiquewhite;
            align-items: center;
        }

        .contCard {
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            align-content: center;

        }

        .contList {
            display: flex;
            padding-top: 50px;
            margin: 10px;
            flex-flow: column;
        }

        .card {
            border: 3px solid dodgerblue;
            margin: 5px;
        }

        .contHead2 {
            color: antiquewhite;
            margin-left: 15px;
            padding-top: 50px;
        }
    </style>
{% endblock %}
