{% extends "base.html.twig" %}

{% block body %}
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
        {% if transaction.description is not null %}
        <h1>Modifier la transaction d'une valeur de {{ transaction.valeur}} pour [{{ transaction.description }}]</h1>
        {% else %}
        <h1>Modifier la transaction d'une valeur de {{ transaction.valeur}} pour [Aucune description]</h1>
        {% endif %}
    </div>
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
        {{ form(formulaire) }}
    </div>
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
        <a class="btn btn-warning" href="{{ path("ardoises") }}">Retour à la liste </a>

    </div>
{% endblock %}