{% extends "base.html.twig" %}

{% block body %}
    {% if {{ transaction.description }} is not null %}
    <h1>Voulez-vous vraiment supprimer la transaction de {{ transaction.association.participant.nom}} d'une valeur de {{ transaction.valeur }}€ pour [{{ transaction.description }}] ?</h1>
    {% else %}
    {{ form(formulaire) }}
    <a class="btn btn-warning" href="{{ path("ardoises") }}">Retour à la liste </a>
{% endblock %}